Repository TigardHighGDC/Ionic, pull requests merged in 2022-06, with the labels that each got.

#5 Update pull_request_template.md
  .github/pull_request_template.md
Labels: automation, change sent to author, ready to merge

#6 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: automation, change sent to author, ready to merge

#7 Create label_pr.yml
  .github/labeler.yml
  .github/workflows/label_pr.yml
Labels: automation, change-sent-to-author, ready to merge

#9 Update auto_assign.yml
  .github/auto_assign.yml
Labels: automation

#11 Small Updates no-review
  .clang-format
  .github/auto_assign.yml
  .github/pull_request_template.md
Labels: automation

#16 Update README.md
  README.md
Labels: change-sent-to-author, do-not-merge, waiting-for-review

#20 Create CODEOWNERS skip-review
  .github/CODEOWNERS
Labels: automation

#21 Update CODEOWNERS skip-review
  .github/CODEOWNERS
Labels: automation

#22 Rename label_pr.yml to label-pr.yml skip-review
  .github/workflows/label-pr.yml
Labels: automation, ready to merge

#24 Revert "Rename label_pr.yml to label-pr.yml skip-review (#22)" skip-review
  .github/workflows/label_pr.yml
Labels: automation

#25 Revert "Revert "Rename label_pr.yml to label-pr.yml skip-review (#22)" skip-review"
  .github/workflows/label-pr.yml
Labels: automation

#26 Revert
  .clang-format
  .gitattributes
  .github/workflows/label_pr.yml
  .gitignore
  CMakeLists.txt
  src/CMakeLists.txt
Labels: automation, change-sent-to-author, do-not-merge, waiting-for-review

#27 Github page update
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/label-pr.yml
  COPYRIGHT
  README.md
Labels: automation, change-sent-to-author, do-not-merge, md, waiting-for-review

#23 Creation of CMake
  .clang-format
  .gitattributes
  .gitignore
  CMakeLists.txt
  src/CMakeLists.txt
Labels: change-sent-to-author, ready to merge, waiting-for-review, core, cmake

#28 Added a format script
  tools/files.lst
  tools/format.py
Labels: change-sent-to-author, low priority, ready to merge, waiting-for-review, toolset

#32 Basic test module
  .github/workflows/copyright-check.yml
  COPYRIGHT
  tools/checks/copyright_check.py
  tools/execute_checks.py
Labels: automation, change-sent-to-author, ready to merge, waiting-for-review, toolset

#34 Update to workflows
  .github/labeler.yml
  .github/workflows/copyright-check.yml
  tools/checks/copyright_check.py
Labels: automation, change-sent-to-author, ready to merge, waiting-for-review, toolset

#35 Update copyright-check.yml
  .github/workflows/copyright-check.yml
Labels: automation, bug, change-sent-to-author, ready to merge, waiting-for-review

#29 Added os reference for macros
  docs/os-ref.md
Labels: change-sent-to-author, do-not-merge, documentation, low priority, md, waiting-for-review

#37 License info update
  .github/CODEOWNERS
  .github/auto_assign.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/clang-format-check.yml
  .github/workflows/copyright-check.yml
  .github/workflows/label-pr.yml
  README.md
Labels: automation, change-sent-to-author, do-not-merge, md, waiting-for-review

#42 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: change-sent-to-author, do-not-merge, documentation, md, waiting-for-review

#44 Create image
  README.md
  images/ionic-titan-logo.png
Labels: change-sent-to-author, md, ready to merge, visuals, waiting-for-review
